<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @notification.token %>
</p>

<p>
  <strong>Other:</strong>
  <%= @notification.other %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
